@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #ffffff;
  --color-rose: #ee3458;
  --color-dark-rose: #79434d;
  --color-yellow: #edf733;
  --color-dark-yellow: #a8b020;
  --color-violet-300: #906cf5;
  --color-violet-800: #2e2a35;
  --color-violet-900: #282335;
  --color-gray-400: #565656;
  --color-gray-500: #626262;
  --color-gray-600: #3f3f3f;
  --color-gray-700: #212121;
  --color-gray-800: #232323;
  --color-gray-850: #252525;
  --color-gray-900: #131313;
  --color-white-8: rgba(255, 255, 255, 0.08);
  --color-white-4: rgba(255, 255, 255, 0.04);
  --color-white-12: rgba(255, 255, 255, 0.12);
  --color-violet-20: rgba(156, 136, 188, 0.2);
}

body {
  color: var(--color-white);
  background: var(--color-gray-900);
  font-family: 'SFProDisplay', sans-serif;
  height: 100vh;
  background-repeat: no-repeat;
}

@layer utilities {
  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Hides the scrollbar */
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
